.container {
  text-align: center;
}
.formContainer {
  /*position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  background-color: var(--secondary);
  border: 3px solid black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px; /* Adiciona um espaço superior */
  padding: 10px;

  /*display: flex;
  flex-direction: column;
  align-items: center;*/

  /*border: 1px solid #ccc;  Borda */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.formTitle {
  font-size: 35px;
}

.formClose {
  font-size: 35px;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
}

.inputContainer {
  width: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.versusContainer {
  margin-top: 20px; /* Adiciona um espaço superior */
  padding: 10px;
  background-color: #f0f0f0; /* Cor de fundo */
  border: 1px solid #ccc; /* Borda */
  border-radius: 5px; /* Bordas arredondadas */
  display: flex; /* Ativa o layout flexbox */
  justify-content: space-between; /* Distribui os elementos uniformemente ao longo do eixo principal */
  display: flex; /* Ativa o layout flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.playerImageContainer {
  background-color: red; /* Cor de fundo */
  border: 1px solid blue; /* Borda */
  border-radius: 5px; /* Bordas arredondadas */
  width: 150px;
  height: 150px;
}

.versusText {
  margin: 0 10px; /* Adiciona margem para separar o texto dos jogadores */
}

.codeContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startMatchButtonContainer {
  width: 200px;
  margin: 0 auto;
}

.handCardsContainer {
  position: absolute;
  height: 420px;
  width: 1280px;
  border: 2px solid black;
  top: 55%;
  left: 105%;
  display: flex;
  flex-direction: row;
}

.cardOnHand {
  width: 320px;
  height: 420px;
}

.hPosition {
  position: absolute;
  height: 40px;
  width: 80px;
  border: 2px solid blue;
  top: 67.5%;
  left: 4.8%;
}
.VxPosition {
  position: absolute;
  height: 40px;
  width: 80px;
  border: 2px solid red;
  top: 67.5%;
  left: 16.8%;
}

.mPosition {
  position: absolute;
  height: 40px;
  width: 80px;
  border: 2px solid white;
  top: 78%;
  left: 4.8%;
}

.VyPosition {
  position: absolute;
  height: 40px;
  width: 80px;
  border: 2px solid green;
  top: 77.9%;
  left: 16.8%;
}

.fcPosition {
  position: absolute;
  height: 40px;
  width: 80px;
  border: 2px solid yellow;
  top: 88.5%;
  left: 4.8%;
}

.axPosition {
  position: absolute;
  height: 40px;
  width: 80px;
  border: 2px solid purple;
  top: 88.5%;
  left: 16.8%;
}
