.handCardsContainer {
    position: absolute;
    height: 420px;
    width: 1280px;
    border: 2px solid black;
    top: 55%;
    left: 105%;
    display: flex;
    flex-direction: row;
  }

  .cardOnHand {
    width: 320px;
    height: 420px;
  }